.form-section {
    box-sizing: border-box;
    margin-top: 112px;
    width: 100%;
    height: 1000px;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2:nth-child(1) {
        margin-top: 90px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }

    img {
       margin-top: 30px; 
    }

    h2:nth-child(3) {
        margin-top: 21px;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }

    .form-block {
        font-family: 'Montserrat';
        margin-top: 65px;
        width: 1058px;
        max-width: 1058px;

        .name {
            
            #first_name {
                font-family: 'Montserrat';
                caret-color: #FFFFFF;
                margin-right: 5px;
                width: 50%;
                height: 72px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                background-color: transparent;
                padding-left: 20px;
                color: #fff;
                transition: 0.3s;
                position: relative;
                &::placeholder {
                    padding-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }

                &:focus {
                    padding-left: 20px;
                    outline: none;
                    animation: shadowInput 1s ease-in-out infinite alternate;
                    color: #fff;
                    font-size: 16px;
                    &::placeholder {
                        color: transparent;
                    }
                }

                @keyframes shadowInput {
                    from {
                      box-shadow: 0 0 0px #fff;
                    }
                    to {
                      box-shadow: 0 0 10px #fff;
                    }
                }
            }

            #last_name {
                font-family: 'Montserrat';
                caret-color: #FFFFFF;
                margin-left: 5px;
                width: 50%;
                height: 72px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                background-color: transparent;
                padding-left: 20px;
                color: #fff;
                transition: 0.3s;
                &::placeholder {
                    padding-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }

                &:focus {
                    padding-left: 20px;
                    outline: none;
                    animation: shadowInput 1s ease-in-out infinite alternate;
                    color: #fff;
                    font-size: 16px;
                    &::placeholder {
                        color: transparent;
                    }

                }

                @keyframes shadowInput {
                    from {
                      box-shadow: 0 0 0px #fff;
                    }
                    to {
                      box-shadow: 0 0 10px #fff;
                    }
                }
            }

        }
        .data {
            margin-top: 40px;
            #email {
                font-family: 'Montserrat';
                caret-color: #FFFFFF;
                margin-right: 5px;
                width: 50%;
                height: 72px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                background-color: transparent;
                padding-left: 20px;
                color: #fff;
                transition: 0.3s;
                &::placeholder {
                    padding-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }

                &:focus {
                    padding-left: 20px;
                    outline: none;
                    animation: shadowInput 1s ease-in-out infinite alternate;
                    color: #fff;
                    font-size: 16px;
                    &::placeholder {
                        color: transparent;
                    }

                }

                @keyframes shadowInput {
                    from {
                      box-shadow: 0 0 0px #fff;
                    }
                    to {
                      box-shadow: 0 0 10px #fff;
                    }
                }
            }

            #phone {
                font-family: 'Montserrat';
                caret-color: #FFFFFF;
                margin-left: 5px;
                width: 50%;
                height: 72px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                background-color: transparent;
                padding-left: 20px;
                color: #fff;
                transition: 0.3s;
                &::placeholder {
                    padding-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }

                &:focus {
                    padding-left: 20px;
                    outline: none;
                    animation: shadowInput 1s ease-in-out infinite alternate;
                    color: #fff;
                    font-size: 16px;
                    &::placeholder {
                        color: transparent;
                    }

                }

                @keyframes shadowInput {
                    from {
                      box-shadow: 0 0 0px #fff;
                    }
                    to {
                      box-shadow: 0 0 10px #fff;
                    }
                }
            }

        }

        #subject {
            font-family: 'Montserrat';
            margin-top: 40px;
            caret-color: #FFFFFF;
            width: 100%;
            height: 72px;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            background-color: transparent;
            padding-left: 20px;
            color: #fff;
            transition: 0.3s;
            &::placeholder {
                padding-left: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }

            &:focus {
                padding-left: 20px;
                outline: none;
                animation: shadowInput 1s ease-in-out infinite alternate;
                color: #fff;
                font-size: 16px;
                &::placeholder {
                    color: transparent;
                }

            }

            @keyframes shadowInput {
                from {
                  box-shadow: 0 0 0px #fff;
                }
                to {
                  box-shadow: 0 0 10px #fff;
                }
            }
        }

        #message {
            margin-top: 30px;
            font-family: 'Montserrat';
            caret-color: #FFFFFF;
            width: 100%;
            height: 72px;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            background-color: transparent;
            padding-left: 20px;
            padding-top: 15px;
            color: #fff;
            transition: 0.3s;
            &::placeholder {
                padding-left: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }

            &:focus {
                padding-top: 20px;
                padding-left: 20px;
                outline: none;
                animation: shadowInput 1s ease-in-out infinite alternate;
                color: #fff;
                font-size: 16px;
                &::placeholder {
                    color: transparent;
                }

            }

            @keyframes shadowInput {
                from {
                  box-shadow: 0 0 0px #fff;
                }
                to {
                  box-shadow: 0 0 10px #fff;
                }
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            .form_btn {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #343045;
                margin-top: 50px;
                text-transform: uppercase;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border: none;
                font-weight: bold;
                width: 214px;
                height: 48px;
                border-radius: 40px;
                transition: 0.3s;
    
                &:hover {
                    color: #fff;
                    border: 1px solid #FFFFFF;
                    background: transparent;
                }
    
            }
        }

        textarea {
            resize: none;
            width: 100%;
            height: 210px;
            min-height: 210px;
        }

    }

}