.about-section {
    margin-top: 90px;

    .intro-block {
        .title {
            position: relative;
            h2:nth-child(1) {
                width: 300px;
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #FFFFFF;
            }
            h2:nth-child(2) {
                position: relative;
                width: 261px;
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                line-height: 44px;
                color: #FFFFFF;

                &::after {
                    content: url('../../vectors/arrow-long-right.svg');
                    position: absolute;
                    top: -25px;
                    left: 275px;

                }
            }
        }
        p {
            width: 650px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
    
            color: #FFFFFF;
        }
    }

    .intro-block2 {
        margin-top: 111px;
    }

    .about-block {
        margin-top: 100px;
        .photo-block {
            img {
                width: 524px;
            }
        }
        .text-block {
            width: 630px;
            .title {
                margin-top: 5px;
                margin-bottom: 42px;
                h2:nth-child(1) {
                    width: 136px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #FFFFFF;
                }
                h2:nth-child(2) {
                    width: 192px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 44px;
                    color: rgba(255, 255, 255, 0.95);
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }

            button {
                position: relative;
                font-size: 12px;
                color: #343045;
                text-transform: uppercase;
                background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
                border: none;
                font-weight: bold;
                width: 214px;
                height: 48px;
                border-radius: 40px;
                transition: 0.3s;

                &:hover {
                    color: #fff;
                    border: 1px solid #FFFFFF;
                    background: transparent;
                }
            }
        }
    }
 
}